footer {
    width: 100%;

    .footer__wrap {
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 40px;
        padding-right: 40px;

        .footer__info_container {
            display: flex;
            flex-direction: column;
            row-gap: 6px;

            .footer__info_wrap {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                column-gap: 15px;
                row-gap: 6px;

                li {
                    font-size: .875rem;
                    font-weight: 500;

                    a {
                        display: contents;
                    }

                }

            }

            >.copy {
                margin-top: 10px;
                font-size: .875rem;
            }

        }

        .footer__sns_wrap {

            li {
                a {
                    max-width: 22px;
                }
            }

        }

    }

    &.footer--line {
        border-top: 1px solid $greyLine;
    }

}





// ! -------------------- [Responsive] -------------------- !

@media screen and (max-width: 1440px) {}

@media screen and (max-width: 1240px) {

    footer {
        .footer__wrap {
            padding-left: 20px;
            padding-right: 20px;
        }

    }

}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {

    footer {

        .footer__wrap {
            flex-direction: column;
            row-gap: 20px;

            .footer__info_container {

                .footer__info_wrap {

                    li {
                        font-size: .8125rem;
                    }

                }

                >.copy {
                    margin-top: 7px;
                    font-size: .75rem;
                }

            }

        }
    }

}

@media screen and (max-width: 540px) {}