header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    background-color: #fff;

    .header__root_container{
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
        border-bottom: 1.5px solid #000;

        ul{
            display: flex;
            align-items: center;

            li{

                a{
                    padding: 10px 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: 0.4s;

                    &:hover{
                        background-color: rgba($color: #C9C9C9, $alpha: 0.2);
                    }

                }
                
            }

        }

    }

    .header__wrap{
        width: 100%;
        height: 80px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 40px;
        padding-right: 40px;
        position: relative;

        .header__logo{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            
            img{
                backface-visibility: unset !important;
            }

        }

        nav{

            >ul{
                display: flex;
                align-items: center;
                column-gap: 40px;

                .depth1{

                    .depth2{

                        >li {
                            
                            >a{

                            }

                        }

                    }

                }
                
            }

        }

    }

}

.header__ham_wrap {
    width: 25px;
    height: 14px;
    z-index: 1;
    // display: none;
}

.header__ham_btn {
    width: 100%;
    height: 100%;
    position: relative;
    // transition: 0.4s;
    // transition-delay: 0.4s;

    span {
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #000;
        left: 50%;
        // transition: 0.4s;

        &:first-child {
            top: 0;
            transform: translate(-50%, 0);
        }

        &:nth-child(2) {
            top: 50%;
            transform: translate(-50%, -50%);
        }

        &:last-child {
            bottom: 0;
            transform: translate(-50%, 0);
        }

    }

    &.active {
        // transform: rotate(45deg);

        span {

            &:first-child {
                top: 50%;
                transform: translate(-50%, -50%) rotate(0);
                transform-origin: center center;
            }

            &:nth-child(2) {
                width: 0;
            }

            &:last-child {
                bottom: auto;
                top: 50%;
                transform: translate(-50%, -50%) rotate(90deg);
                transform-origin: center center;
            }

        }

    }

}

.header__mo {
    position: fixed;
    top: 0;
    left: -100%;
    // transform: translateX(-50%);
    max-width: 280px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: 0.4s;
    z-index: 998;
    padding: 150px 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    nav{

        >ul{
            display: flex;
            flex-direction: column;
            row-gap: 40px;

            .depth1{
                font-size: .9375rem;
                font-weight: 700;
                text-transform: lowercase;
                display: flex;
                flex-direction: column;
                row-gap: 10px;
                cursor: pointer;

                .depth2{
                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;
                    padding-left: 10px;
                    display: none;

                    >li {
                        
                        >a{
                            font-size: .875rem;
                            font-weight: 400;
                        }

                    }

                }

            }
            
        }

    }
    
    .other_depth__container{
        display: flex;
        flex-direction: column;
        row-gap: 35px;

        .other_depth{
            display: flex;
            flex-direction: column;
            row-gap: 25px;

            li{
                a{
                    font-size: .875rem;
                }

                &.pb{

                    &--30{
                        padding-bottom: 30px;
                    }

                }

                &.border{

                    &--bot_1_E6E6E6 {
                        border-bottom: 1px solid #E6E6E6;
                    }

                }

            }

        }

        .header__search_container{

            .header__search_wrap{
                display: flex;
                align-items: center;
                column-gap: 20px;
                padding-bottom: 10px;
                border-bottom: 1px solid $bodyColor;

                input[type="text"]{
                    width: 100%;
                    border: 0;
                    outline: 0;
                    font-size: .8125rem;
                    background-color: transparent;
                    padding: 0;

                    &::placeholder{
                        color: $greyLine;
                    }

                }

                button{
                    min-width: 20px;
                }

            }

        }

    }

    &.active{
        left: 0;
    }

}






// ! -------------------- [Responsive] -------------------- !

@media screen and (max-width: 1440px) {}

@media screen and (max-width: 1240px) {

    header{

        .header__root_container{
            padding-left: 0;
            padding-right: 0;
        }

        .header__wrap{
            padding-left: 20px;
            padding-right: 20px;
        }

    }

}

@media screen and (max-width: 1024px) {
    
    header{

        .header__wrap{
            height: 60px;
            
            .header__logo{
                max-width: 60px;
            }

            nav{

                >ul{
                    column-gap: 30px;
                }
    
            }

        }

    }

    .header__mo {
        padding: 100px 40px 30px;
        max-width: 360px;
    }

}

@media screen and (max-width: 768px) {

    header{

        .header__wrap{
            height: 50px;
            
            .header__logo{
                max-width: 50px;
            }

            nav{

                >ul{
                    column-gap: 20px;
                    font-size: .9375rem;
                }
    
            }

        }

    }

    .header__mo {
        padding: 100px 30px 30px;
        max-width: 100%;
    }

}

@media screen and (max-width: 540px) {

    header{

        .header__wrap{
            
            .header__logo{
                left: 72px;
                transform: translate(0, -50%);
            }

            nav{

                >ul{
                    column-gap: 15px;
                }
    
            }

        }

    }

    .header__mo {
        padding: 100px 20px 30px;
        max-width: 100%;

        nav{

            >ul{

                .depth1{
                    font-size: 1.125rem;
                }
                
            }
    
        }

        .other_depth__container{
    
            .other_depth{
    
                li{
                    a{
                        font-size: 1rem;
                    }
                }
    
            }
    
            .header__search_container{
    
                .header__search_wrap{
    
                    input[type="text"]{
                        font-size: 1rem;
                    }

                }
    
            }
    
        }

    }

    
}