
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #000;
    display: none;
}

.modal__back {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal__container {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
}

.modal__title_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;

    .title {
        font-size: 1.25rem;
        font-weight: 600;
        text-align: center;
    }

    .subtitle{
        font-size: .9375rem;
        text-align: center;
    }

}

.modal__close {
    position: absolute;
    top: 20px;
    right: 15px;
}

.modal__contents_wrap {
    width: 100%;
    max-height: 60vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}





// ! -------------------- [Responsive] -------------------- !

@media screen and (max-width: 1064px){

}

@media screen and (max-width: 1024px){

    .modal {
        padding-left: 20px;
        padding-right: 20px;
    }

}

@media screen and (max-width: 768px){

}