@import "./baseConfig";
@import "./customFunc";


/**************************************** program 시작*/

.prog_s1_container{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

/**************************************** program 끝*/



@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1240px) {

}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {

    .prog_s1_container{
        row-gap: 30px;
    }

}

@media screen and (max-width: 540px) {

}