@import "./baseConfig";
@import "./customFunc";


/**************************************** space 시작*/

.spac__s1_container {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.spac__s1_contents_container {
    display: flex;
    flex-direction: column;
    row-gap: 90px;

    .cap_container {
        display: flex;
        flex-direction: column;
        row-gap: 40px;

        .cap_wrap {
            display: flex;
            flex-direction: column;
            row-gap: 30px;

            p {
                font-size: 1.0625rem;
                white-space: pre-line;
                word-break: keep-all;
                line-height: 1.36;
            }

        }

        .inq_wrap {
            display: flex;
            align-items: center;
            column-gap: 15px;

            .title {
                font-size: 1.0625rem;
                font-weight: 700;
            }

            .info {
                display: flex;
                align-items: center;
                column-gap: 5px;

                li {
                    font-size: 1.0625rem;
                }

            }

        }

    }

}

.spac__s2_container{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.spac__s2_tab_wrap {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 25px;

    li {
        font-size: 1.125rem;
        cursor: pointer;

        &.active{
            font-weight: 700;
        }

    }

}

.spac__s2_contents_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 35px;
    row-gap: 75px;

    .spac__s2_contents_wrap {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        .spac__s2_slide {
            aspect-ratio: 3/2;
            width: 100%;
            position: relative;
            overflow: hidden;

            .swiper-slide{

                figure{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;

                    img{
                        @include thumbCenter;
                    }

                }

            }
            
            .spac__s2_nav_container {
                width: 100%;
                padding-left: 20px;
                padding-right: 20px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                justify-content: space-between;
                align-items: center;
                z-index: 5;

                .spac__s2_nav {

                    &--next {
                        @extend .spac__s2_nav;
                        transform: scale(-1);
                    }

                }

            }
        }

        .spac__s2_cap {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .title {
                font-size: 1.25rem;
                font-weight: 700;
            }

            .info_wrap {
                display: flex;
                align-items: center;
                column-gap: 5px;

                li {
                    font-size: .875rem;
                    white-space: nowrap;
                }

            }

        }

    }

}

/**************************************** space 끝*/



@media screen and (max-width: 1440px) {}

@media screen and (max-width: 1240px) {}

@media screen and (max-width: 1024px) {

    .spac__s1_contents_container {
        row-gap: 50px;
    
        .cap_container {
            row-gap: 30px;
    
            .cap_wrap {
                row-gap: 20px;
    
                p {
                    // font-size: 1.0625rem;
                }
    
            }
    
            .inq_wrap {
    
                .info {
    
                    li {
                        // font-size: 1.0625rem;
                    }
    
                }
    
            }
    
        }
    
    }

    .spac__s2_container{
        row-gap: 30px;
    }

    .spac__s2_tab_wrap {
        column-gap: 20px;
    
        li {
            font-size: 1.0625rem;
        }
    
    }

    .spac__s2_contents_container {
        column-gap: 20px;
        row-gap: 50px;
    
        .spac__s2_contents_wrap {
    
    
            .spac__s2_cap {
                flex-direction: column;
                align-items: flex-start;
                row-gap: 10px;
    
                .title {
                    font-size: 1.25rem;
                    font-weight: 700;
                }
    
                .info_wrap {
                    flex-direction: column;
                    align-items: flex-start;
                    row-gap: 5px;
    
                    li {

                        &.separator{
                            display: none;
                        }

                    }
    
                }
    
            }
    
        }
    
    }

}

@media screen and (max-width: 768px) {

    .spac__s1_contents_container {
    
        .cap_container {
            row-gap: 30px;
    
            .cap_wrap {
                row-gap: 15px;
    
                p {
                    font-size: 1rem;
                    white-space: normal;
                }
    
            }
    
            .inq_wrap {
    
                .info {
    
                    li {
                        font-size: 1rem;
                    }
    
                }
    
            }
    
        }
    
    }

    .spac__s2_tab_wrap {

        li {
            font-size: 1rem;
        }
    
    }

    .spac__s2_contents_container {
        grid-template-columns: 1fr;
        row-gap: 30px;
    
        .spac__s2_contents_wrap {
    
            .spac__s2_cap {
    
                .title {
                    font-size: 1.125rem;
                }
    
            }
    
        }
    
    }


}

@media screen and (max-width: 540px) {}