@charset "UTF-8";
@import url("https://webfontworld.github.io/pretendard/Pretendard.css");
/**************************************** custom 시작*/
.wrapper {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}

.bold {
    font-weight: bold;
}
.red {
    color: #FF2D55;
}
.appendix {
    font-weight: 500;
    opacity: 0.5;
}
.red ~ .appendix {
    font-size: 13px;
}

.br_type.br_type--tab {
  display: none;
}
.br_type.br_type--mo {
  display: none;
}

/* ::selection {
    background-color: transparent
} */
.blank {
  padding-top: 80px;
  padding-bottom: 80px;
}
.blank.blank--top {
  padding-top: 80px;
  padding-bottom: 0;
}
.blank.blank--bottom {
  padding-top: 0;
  padding-bottom: 80px;
}
.blank.blank--end {
  padding-top: 40px;
  padding-bottom: 150px;
}
.blank.blank--t1 {
  padding-top: 75px;
  padding-bottom: 100px;
}
.blank.blank--t2 {
  padding-top: 0;
  padding-bottom: 95px;
}
.blank.blank--t3 {
  padding-top: 40px;
  padding-bottom: 80px;
}
.blank.blank--t4 {
  padding-top: 0;
  padding-bottom: 150px;
}
.blank.blank--t5 {
  padding-top: 100px;
  padding-bottom: 40px;
}

.popup_bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
    display: none;
}

.popup {
    display: none;
    max-width: calc(100% - 40px);
    min-width: fit-content;
    max-height: calc(100dvh - 100px);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    z-index: 1000;
}

.popup .x_btn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1000;
}

.popup .x_btn img {
    width: 45px;
}

.popup.sm_popup {
    padding: 75px 35px 30px;
    width: 400px;
}

.popup.sm_popup .center_txt {
    font-size: 1.325em;
    margin: 20px 0 50px;
    letter-spacing: -0.78px;
    text-align: center;
}

.popup .pop_btn_wrap {
    display: flex;
    column-gap: 5px;
}

.popup .pop_btn_wrap *,
.popup.find_popup .pop_btn_wrap.two_btn * {
    width: calc((100% - 5px)/2);
    height: 50px;
    font-size: 1.0625em;
    font-weight: 500;
    cursor: pointer;
}

.popup.find_popup {
    padding: 50px;
    min-width: 560px;
}

.popup.find_popup .form_wrap {
    padding: 20px 0;
    border-top: 1px solid #111;
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.popup.find_popup .form_wrap li:not(:last-child) {
    margin-bottom: 0;
}

.popup.find_popup .form_wrap.with_title .form_label_ani .form_title {
    width: 100px;
}

.popup.find_popup .form_wrap.with_title .form_label_ani fieldset {
    width: calc(100% - 100px);
}

.popup.find_popup .find_txt {
    text-align: center;
}

.popup.find_popup .find_txt .big {
    font-size: 2.25em;
    margin-bottom: 24px;
    font-weight: 700;
}

.popup.find_popup .find_txt .sm {
    font-size: 0.9375em;
    opacity: 0.75;
    line-height: 152%;
    letter-spacing: -0.5px;
    overflow: scroll;
    height: 50dvh;
}

.popup.find_popup .radio_wrap {
    margin: 50px auto 30px;
    display: flex;
    align-items: center;
    column-gap: 50px;
    justify-content: center;
}

.popup.find_popup .radio_wrap li input {
    display: none;
}

.popup.find_popup .radio_wrap li label {
    font-size: 0.9375em;
    letter-spacing: -0.45px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
}

.popup.find_popup .radio_wrap li input+label::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url(../img/mypage/radio_before.png) no-repeat center center;
    background-size: 100%;
}

.popup.find_popup .radio_wrap li input:checked+label::before {
    background: url(../img/mypage/radio_after.png) no-repeat center center;
    background-size: 100%;
}

.popup.find_popup .pop_btn_wrap {
    margin-top: 50px;
    flex-wrap: wrap;
}

.popup.find_popup .pop_btn_wrap * {
    width: 100%;
    height: 50px;
    font-size: 1.0625em;
}

.popup.only_txt_popup {
    padding: 75px 35px 30px;
    width: 400px;
    min-width: auto;
}

.popup.only_txt_popup .only_txt {
    font-size: 1.325em;
    margin: 20px 0 50px;
    letter-spacing: -0.78px;
    text-align: center;
    line-height: 150%;
}

.popup.only_txt_popup .pop_btn_wrap.one_btn {
    justify-content: center;
}

.popup.only_txt_popup .pop_btn_wrap.one_btn * {
    width: 150px;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.btn.btn--t1 {
  max-width: 120px;
  width: 100%;
  height: 50px;
}

.black_btn {
    width: 185px;
    height: 50px;
    font-size: 0.9375rem;
    font-weight: 500;
    background: #111;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.top_btn {
  position: fixed;
  z-index: 900;
  right: 20px;
  bottom: 20px;
  background-color: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65px;
  height: 65px;
  border-radius: 100%;
  cursor: pointer;
  display: none;
}

.main_conatiner {
  margin-top: 80px;
}

.visual_slide__container {
  width: 100%;
  height: 100%;
  position: relative;
}
.visual_slide__container .visual_slide {
  width: 100%;
  height: 100%;
}
.visual_slide__container .visual_slide .swiper-slide a, .visual_slide__container .visual_slide .swiper-slide > div {
  width: 100%;
  height: 100%;
}
.visual_slide__container .visual_slide .swiper-slide a figure,
.visual_slide__container .visual_slide .swiper-slide a picture, .visual_slide__container .visual_slide .swiper-slide > div figure,
.visual_slide__container .visual_slide .swiper-slide > div picture {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.visual_slide__container .visual_slide .swiper-slide a figure img,
.visual_slide__container .visual_slide .swiper-slide a picture img, .visual_slide__container .visual_slide .swiper-slide > div figure img,
.visual_slide__container .visual_slide .swiper-slide > div picture img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
}
.visual_slide__container .visual_slide .swiper-slide a video, .visual_slide__container .visual_slide .swiper-slide > div video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
}
.visual_slide__container .visual_slide__nav_container {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
}
.visual_slide__container .visual_slide__nav_container .visual_slide__nav--next {
  -webkit-transform: scale(-1);
          transform: scale(-1);
}
.visual_slide__container .visual_slide__pager_container {
  position: absolute;
  z-index: 5;
  left: 50%;
  bottom: 30px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.visual_slide__container .visual_slide__pager_container .visual_slide__pager {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.visual_slide__container .visual_slide__pager_container .visual_slide__pager span {
  opacity: 1;
  width: 18px;
  height: 2px;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 0 !important;
}
.visual_slide__container .visual_slide__pager_container .visual_slide__pager span.active {
  background-color: white;
}

.subpage__title_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
}
.subpage__title_container .title {
  font-size: 1.25rem;
  font-weight: 600;
}
.subpage__title_container .category_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  font-size: 1.125rem;
}
.subpage__title_container .category_wrap li.active {
  font-weight: 700;
}

.form_wrap .multiple fieldset {
    display: flex;
    gap: 10px;
    align-items: center;
}
.form_wrap .multiple.email fieldset {
    gap: 6px;
}
.form_wrap .multiple fieldset .dashed {
    font-size: 13px;
    font-weight: 500;
}
.form_wrap>li:not(:last-child) {
    margin-bottom: 40px;
}

.form_wrap>li.with_btn {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 3px;
}
.form_wrap>li.with_btn .appendix {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-size: 0.9375rem;
}
.form_wrap>li.with_btn label.black_btn {
    position: static;
    width: 139px;
    font-size: 0.9375em;
    border: 0;
    height: 40px;
    color: #fff !important;
    cursor: pointer;
}
input[type=file]::file-selector-button {
    display: none;
}

.form_wrap>li .bt_info {
    font-size: 0.75em;
    margin-top: 8px;
    color: #aaa;
    word-break: keep-all;
}

.form_label_ani {
    position: relative;
}

.form_label_ani.margin_bt {
    margin-bottom: 10px;
}

.form_label_ani label {
    color: #aaa;
    font-size: 1.125em;
    position: absolute;
    left: 0;
    top: 50%;
    transition: all .15s ease-in;
    z-index: 0;
    text-transform: uppercase;
    margin: 0;
}

.form_label_ani label.label_float {
    top: -5px;
    z-index: 1;
    font-size: 0.8125em;
}

.form_label_ani input,
.form_label_ani select {
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid #e6e6e6;
    font-size: 0.9375rem;
    padding-right: 40px;
}

.form_label_ani input.focus:read-only {
    border-bottom: 1px solid #e6e6e6;
}

.form_label_ani input.focus {
    border-bottom: 1px solid #111;
}

.form_label_ani input::placeholder {
    visibility: hidden;
}

.form_label_ani.placeholder input::placeholder {
    visibility: visible;
    color: #aaa;
}

.form_label_ani input:read-only~label {
    top: 50%;
    z-index: 0;
}

.form_label_ani input:read-only:not(:placeholder-shown)~label {
    z-index: 1;
    font-size: 0.8125em;
}
.form_label_ani input:read-only:not(:placeholder-shown)~label {
    opacity: 1;
    color: #111;
}

.form_label_ani input:not(:placeholder-shown)~label {
    z-index: 1;
    font-size: 0.8125em;
}

.form_label_ani.just_input input:not(:placeholder-shown)~label {
    display: none;
}

.form_wrap.with_title:not(.form_type) {
    margin-bottom: 40px;
}
.form_wrap.with_title .title_wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form_wrap.with_title .form_label_ani {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.form_wrap.with_title .form_label_ani .form_title {
    width: 120px;
}

.form_wrap.with_title .form_label_ani fieldset {
    width: 100%;
    position: relative;
    border: 0;
}
.form_wrap.with_title:has(input[type="file"]) fieldset {
    display: flex;
    justify-content: space-between;
}

.input_chk input {
    display: none;
}

.input_chk input+label {
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-weight: 500;
    opacity: 1;
}

.input_chk input+label::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url(../img/radio_before.png) no-repeat center center;
    background-size: 100%;
}

.input_chk input:checked+label::before {
    background: url(../img/radio_after.png) no-repeat center center;
    background-size: 100%;
}

.input_radio input {
    display: none;
}

.input_radio input+label {
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.input_radio input+label::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url(../img/radio_before.png) no-repeat center center;
    background-size: 100%;
}

.input_radio input:checked+label::before {
    background: url(../img/radio_after.png) no-repeat center center;
    background-size: 100%;
}

.input_radio input[type=radio]+label::before {
    border: 0;
}

#rent .input_chk input+label::before {
    border: 0;
}
#rent form {
    width: 38%;
    max-width: 463px;
}
#rent form .form_type {
    padding: 30px 0;
    margin-bottom: 20px;
}
#rent form .with_radio .radio_wrap {
    display: flex;
    align-items: center;
    column-gap: 16px;
}
#rent :is(
    input:not([type="radio"]),
    input:not([type="checkbox"]),
    select
) {
    height: 40px;
    border: 1px solid #e6e6e6;
    font-family: inherit;
}
#rent fieldset:has(.black_btn) input {
    width: calc(100% - 160px);
    line-height: 40px;
}
#rent input.date_picker {
    padding: 0 12px;
    background: url(/home/img/rent_select_arrow.svg) no-repeat right 10px center / 11px auto;
}
#rent select {
    background-image: url(/home/img/rent_select_arrow.svg);
    background-position: right 12px center;
}
#rent .agree_pop_btn {
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: inherit;
    font-weight: 500;
}
#rent .agree_chk_wrap .input_chk {
    width: 65%;
    max-width: 301px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9375rem;
}
#rent button.black_btn {
    width: 65%;
    height: 40px;
    max-width: 301px;
}

/**************************************** custom 끝*/
/**************************************** header 시작*/
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 9999;
  background-color: #fff;
}
header .header__root_container {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  border-bottom: 1.5px solid #000;
}
header .header__root_container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header__root_container ul li a {
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
header .header__root_container ul li a:hover {
  background-color: rgba(201, 201, 201, 0.2);
}
header .header__wrap {
  width: 100%;
  height: 80px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
}
header .header__wrap .header__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
header .header__wrap .header__logo img {
  -webkit-backface-visibility: unset !important;
          backface-visibility: unset !important;
}
header .header__wrap nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.header__ham_wrap {
  width: 25px;
  height: 14px;
  z-index: 1;
}

.header__ham_btn {
  width: 100%;
  height: 100%;
  position: relative;
}
.header__ham_btn span {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #000;
  left: 50%;
}
.header__ham_btn span:first-child {
  top: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.header__ham_btn span:nth-child(2) {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.header__ham_btn span:last-child {
  bottom: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.header__ham_btn.active span:first-child {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(0);
          transform: translate(-50%, -50%) rotate(0);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}
.header__ham_btn.active span:nth-child(2) {
  width: 0;
}
.header__ham_btn.active span:last-child {
  bottom: auto;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.header__mo {
  position: fixed;
  top: 0;
  left: -100%;
  max-width: 280px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 998;
  padding: 150px 40px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__mo nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
}
.header__mo nav > ul .depth1 {
  font-size: 0.9375rem;
  font-weight: 700;
  text-transform: lowercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
  cursor: pointer;
}
.header__mo nav > ul .depth1 .depth2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
  padding-left: 10px;
  display: none;
}
.header__mo nav > ul .depth1 .depth2 > li > a {
  font-size: 0.875rem;
  font-weight: 400;
}
.header__mo .other_depth__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 35px;
}
.header__mo .other_depth__container .other_depth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 25px;
}
.header__mo .other_depth__container .other_depth li a {
  font-size: 0.875rem;
}
.header__mo .other_depth__container .other_depth li.pb--30 {
  padding-bottom: 30px;
}
.header__mo .other_depth__container .other_depth li.border--bot_1_E6E6E6 {
  border-bottom: 1px solid #E6E6E6;
}
.header__mo .other_depth__container .header__search_container .header__search_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #111;
}
.header__mo .other_depth__container .header__search_container .header__search_wrap input[type=text] {
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 0.8125rem;
  background-color: transparent;
  padding: 0;
}
.header__mo .other_depth__container .header__search_container .header__search_wrap input[type=text]::-webkit-input-placeholder {
  color: #BDBDBD;
}
.header__mo .other_depth__container .header__search_container .header__search_wrap input[type=text]::-moz-placeholder {
  color: #BDBDBD;
}
.header__mo .other_depth__container .header__search_container .header__search_wrap input[type=text]:-ms-input-placeholder {
  color: #BDBDBD;
}
.header__mo .other_depth__container .header__search_container .header__search_wrap input[type=text]::-ms-input-placeholder {
  color: #BDBDBD;
}
.header__mo .other_depth__container .header__search_container .header__search_wrap input[type=text]::placeholder {
  color: #BDBDBD;
}
.header__mo .other_depth__container .header__search_container .header__search_wrap button {
  min-width: 20px;
}
.header__mo.active {
  left: 0;
}

@media screen and (max-width: 1240px) {
  header .header__root_container {
    padding-left: 0;
    padding-right: 0;
  }
  header .header__wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
  #rent form {
    width: 50%;
    max-width: unset;
  }
}
@media screen and (max-width: 1024px) {
  header .header__wrap {
    height: 60px;
  }
  header .header__wrap .header__logo {
    max-width: 60px;
  }
  header .header__wrap nav > ul {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
  .header__mo {
    padding: 100px 40px 30px;
    max-width: 360px;
  }
  #rent form {
    width: 100%;
  }
  #rent .agree_chk_wrap .input_chk {
    width: 100%;
    max-width: unset;
  }
  #rent button.black_btn {
    width: 100%;
    max-width: unset;
  }
}
@media screen and (max-width: 768px) {
  header .header__wrap {
    height: 50px;
  }
  header .header__wrap .header__logo {
    max-width: 50px;
  }
  header .header__wrap nav > ul {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    font-size: 0.9375rem;
  }
  .header__mo {
    padding: 100px 30px 30px;
    max-width: 100%;
  }
  .popup {
      min-width: auto;
      width: 100%;
      max-width: calc(100% - 40px);
  }

  .popup.find_popup {
      padding: 40px;
      width: auto;
      width: 480px;
      min-width: auto;
      max-width: calc(100% - 40px);
  }

  .popup .x_btn {
      top: 18px;
      right: 15px;
  }

  .popup .x_btn img {
      width: 30px;
  }

  .popup.find_popup .find_txt .big {
      font-size: 2em;
      margin-bottom: 20px;
  }

  .popup.find_popup .form_wrap {
      padding: 15px 0;
  }

  .popup.find_popup .form_wrap.with_title .form_label_ani .form_title {
      width: 50px;
  }

  .popup.find_popup .form_wrap.with_title .form_label_ani fieldset {
      width: calc(100% - 50px);
  }

  .popup.find_popup .radio_wrap {
      margin: 35px auto 25px;
      column-gap: 40px;
  }

  .popup.find_popup .radio_wrap li label {
      column-gap: 5px;
  }

  .popup.find_popup .radio_wrap li input+label::before {
      width: 16px;
      height: 16px;
  }

  .popup.find_popup .pop_btn_wrap {
      margin-top: 35px;
  }

  .popup.find_popup .pop_btn_wrap * {
      height: 45px;
  }

  .popup .pop_btn_wrap *,
  .popup.find_popup .pop_btn_wrap.two_btn * {
      height: 40px;
  }

  .popup.sm_popup {
      padding: 50px 35px 35px;
      width: 350px;
  }

  .popup.sm_popup .center_txt {
      margin: 30px 0 45px;
  }

  .popup.only_txt_popup {
      padding: 50px 35px 35px;
      width: 350px;
  }

  .popup.only_txt_popup .only_txt {
      margin: 30px 0 45px;
  }

  .popup.only_txt_popup .pop_btn_wrap.one_btn * {
      width: 110px;
  }
}
@media screen and (max-width: 540px) {
  header .header__wrap .header__logo {
    left: 72px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  header .header__wrap nav > ul {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
  .header__mo {
    padding: 100px 20px 30px;
    max-width: 100%;
  }
  .header__mo nav > ul .depth1 {
    font-size: 1.125rem;
  }
  .header__mo .other_depth__container .other_depth li a {
    font-size: 1rem;
  }
  .header__mo .other_depth__container .header__search_container .header__search_wrap input[type=text] {
    font-size: 1rem;
  }
  .form_wrap.with_title:not(.form_type) {
    margin-bottom: 20px;
  }
  .form_wrap>li:not(:last-child) {
    margin-bottom: 20px;
  }
  .form_wrap.with_title .form_label_ani {
    gap: 10px;
  }
  .form_wrap>li.with_btn label.black_btn {
    height: 35px;
  }
  .form_wrap .multiple fieldset {
    gap: 5px;
  }
  .form_wrap .multiple.email fieldset {
    gap: 2px;
  }
  .form_wrap>li.with_btn .appendix {
    font-size: 11px;
    row-gap: 5px;
    word-break: keep-all;
  }
  #rent button.black_btn {
    height: 35px;
  }
  #rent :is(input:not([type="radio"]),
      input:not([type="checkbox"]),
      select) {
      height: 35px;
      padding: 0 10px;
      font-size: 12px;
  }
  #rent form .form_type {
    padding: 15px 0;
    margin-bottom: 10px;
  }
  #rent .agree_chk_wrap .input_chk {
    margin-bottom: 20px;
  }
  #rent fieldset:has(.black_btn) input {
    width: calc(100% - 115px);
    line-height: 35px;
  }
  .form_wrap>li.with_btn label.black_btn {
    width: 100px;
  }
  .popup.find_popup {
    padding: 16px;
  }
}
/**************************************** header 끝*/
/**************************************** footer 시작*/
footer {
  width: 100%;
}
footer .footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}
footer .footer__wrap .footer__info_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 6px;
}
footer .footer__wrap .footer__info_container .footer__info_wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  row-gap: 6px;
}
footer .footer__wrap .footer__info_container .footer__info_wrap li {
  font-size: 0.875rem;
  font-weight: 500;
}
footer .footer__wrap .footer__info_container .footer__info_wrap li a {
  display: contents;
}
footer .footer__wrap .footer__info_container > .copy {
  margin-top: 10px;
  font-size: 0.875rem;
}
footer .footer__wrap .footer__sns_wrap li a {
  max-width: 22px;
}
footer.footer--line {
  border-top: 1px solid #BDBDBD;
}

@media screen and (max-width: 1240px) {
  footer .footer__wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 768px) {
  footer .footer__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }
  footer .footer__wrap .footer__info_container .footer__info_wrap li {
    font-size: 0.8125rem;
  }
  footer .footer__wrap .footer__info_container > .copy {
    margin-top: 7px;
    font-size: 0.75rem;
  }
}
/**************************************** footer 끝*/
/**************************************** pagination 시작*/
.pager {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.pager > button {
  opacity: 0.5;
}
.pager > button.pager-next img {
  -webkit-transform: scale(-1);
          transform: scale(-1);
}
.pager > button.active {
  opacity: 1;
}
.pager > button:hover {
  opacity: 1;
}
.pager .page {
  font-size: 0.9375rem;
  font-weight: 500;
  text-align: center;
  color: #BDBDBD;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: relative;
}
.pager .page::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 15px;
  height: 1px;
  background-color: #000;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.pager .page.active {
  color: #111;
}
.pager .page.active::after {
  opacity: 1;
}
.pager .page:hover {
  color: #111;
}

@media screen and (max-width: 768px) {
  .pager button.pager-prev {
    margin-right: 20px;
  }
  .pager button.pager-next {
    margin-left: 20px;
  }
}
@media screen and (max-width: 540px) {
  .pager button.pager-prev {
    margin-right: 15px;
  }
  .pager button.pager-next {
    margin-left: 15px;
  }
}
/**************************************** pagination 끝*/
/**************************************** modal 시작*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1.5px solid #000;
  display: none;
}

.modal__back {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal__container {
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
  padding: 40px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__title_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 10px;
}
.modal__title_wrap .title {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
}
.modal__title_wrap .subtitle {
  font-size: 0.9375rem;
  text-align: center;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 15px;
}

.modal__contents_wrap {
  width: 100%;
  max-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: auto;
}

@media screen and (max-width: 1024px) {
  .modal {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/**************************************** modal 끝*/
/**************************************** layer_popup 시작*/
.common_popup .onday_close input[type=checkbox] + label,
.common_popup .onday_close input[type=radio] + label {
  font-size: 0.9375rem;
  padding-left: 25px;
}

.common_popup .onday_close input[type=checkbox] + label::before,
.common_popup .onday_close input[type=radio] + label::before {
  display: none;
}

.common_popup .onday_close input[type=checkbox]:checked + label::before,
.common_popup .onday_close input[type=radio]:checked + label::before {
  width: 15px;
  height: 15px;
  line-height: 14px;
}

/**************************************** layer_popup 끝*/
/**************************************** responsive*/
@media screen and (max-width: 1480px) {
  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .blank {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .blank.blank--top {
    padding-top: 80px;
    padding-bottom: 0;
  }
  .blank.blank--bottom {
    padding-top: 0;
    padding-bottom: 80px;
  }
  .blank.blank--end {
    padding-top: 40px;
    padding-bottom: 120px;
  }
  .blank.blank--t1 {
    padding-top: 60px;
    padding-bottom: 80px;
  }
  .blank.blank--t2 {
    padding-top: 0;
    padding-bottom: 80px;
  }
  .blank.blank--t3 {
    padding-top: 40px;
    padding-bottom: 80px;
  }
  .blank.blank--t4 {
    padding-top: 0;
    padding-bottom: 120px;
  }
  .blank.blank--t5 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .main_conatiner {
    margin-top: 60px;
  }
  .subpage__title_container {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    padding-bottom: 20px;
  }
  .subpage__title_container .category_wrap {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    font-size: 1.0625rem;
  }
}
@media screen and (max-width: 768px) {
  .main_conatiner {
    margin-top: 50px;
  }
  .visual_slide__container .visual_slide__nav_container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .visual_slide__container .visual_slide__pager_container {
    bottom: 30px;
  }
  .visual_slide__container .visual_slide__pager_container .visual_slide__pager span {
    width: 15px;
  }
  .subpage__title_container {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    padding-bottom: 20px;
  }
  .subpage__title_container .category_wrap {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
    font-size: 0.9375rem;
  }
}
@media screen and (max-width: 540px) {
  .blank {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .blank.blank--top {
    padding-top: 80px;
    padding-bottom: 0;
  }
  .blank.blank--bottom {
    padding-top: 0;
    padding-bottom: 70px;
  }
  .blank.blank--end {
    padding-top: 40px;
    padding-bottom: 150px;
  }
  .blank.blank--t1 {
    padding-top: 55px;
    padding-bottom: 70px;
  }
  .blank.blank--t2 {
    padding-top: 0;
    padding-bottom: 70px;
  }
  .blank.blank--t3 {
    padding-top: 40px;
    padding-bottom: 70px;
  }
  .blank.blank--t4 {
    padding-top: 0;
    padding-bottom: 80px;
  }
}/*# sourceMappingURL=common.css.map */