@charset "UTF-8";
@import url("https://webfontworld.github.io/pretendard/Pretendard.css");
/**************************************** recruit 시작*/
.recr__s1_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}

.recr__s1_contents_container {
  display: grid;
  grid-template-columns: 2fr 4fr 4fr;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
}
.recr__s1_contents_container .recr__s1_depth_container_style {
  min-height: 600px;
  padding-top: 50px;
}
.recr__s1_contents_container .recr__s1_depth_container_style:not(:last-child) {
  border-right: 1px solid #111;
}
.recr__s1_contents_container .recr__s1_depth1_container {
  padding-right: 20px;
}
.recr__s1_contents_container .recr__s1_depth1_container .recr__s1_depth1--pc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
}
.recr__s1_contents_container .recr__s1_depth1_container .recr__s1_depth1--pc li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  font-size: 0.9375rem;
  cursor: pointer;
}
.recr__s1_contents_container .recr__s1_depth1_container .recr__s1_depth1--pc li.active {
  font-weight: 700;
}
.recr__s1_contents_container .recr__s1_depth1_container .recr__s1_depth1--mo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
  display: none;
}
.recr__s1_contents_container .recr__s1_depth1_container .recr__s1_depth1--mo select {
  border: 0;
  font-size: 0.9375rem;
  font-weight: 700;
  padding: 0;
  background-position: right center;
  background-size: 14px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.recr__s1_contents_container .recr__s1_depth2_container {
  padding-right: 20px;
}
.recr__s1_contents_container .recr__s1_depth2_container .recr__s1_depth2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 35px;
}
.recr__s1_contents_container .recr__s1_depth2_container .recr__s1_depth2 li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
  cursor: pointer;
}
.recr__s1_contents_container .recr__s1_depth2_container .recr__s1_depth2 li .title {
  font-size: 1.125rem;
  font-weight: 600;
}
.recr__s1_contents_container .recr__s1_depth2_container .recr__s1_depth2 li .contents {
  font-size: 0.9375rem;
  font-weight: 500;
}
.recr__s1_contents_container .recr__s1_depth3_container .recr__s1_depth3_wrap .recr__s1_depth3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
}
.recr__s1_contents_container .recr__s1_depth3_container .recr__s1_depth3_wrap .recr__s1_depth3 li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}
.recr__s1_contents_container .recr__s1_depth3_container .recr__s1_depth3_wrap .recr__s1_depth3 li .title {
  font-size: 0.9375rem;
  font-weight: 700;
}
.recr__s1_contents_container .recr__s1_depth3_container .recr__s1_depth3_wrap .recr__s1_depth3 li .contents_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}
.recr__s1_contents_container .recr__s1_depth3_container .recr__s1_depth3_wrap .recr__s1_depth3 li .contents_wrap .contents {
  font-size: 0.9375rem;
  font-weight: 500;
}
.recr__s1_contents_container .recr__s1_depth3_container .recr__s1_depth3_wrap .recr__s1_depth3 li .contents_wrap .opt_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
}
.recr__s1_contents_container .recr__s1_depth3_container .recr__s1_depth3_wrap .recr__s1_depth3 li .contents_wrap .opt_wrap li {
  font-size: 0.875rem;
}
.recr__s1_contents_container .recr__s1_depth3_container .recr__s1_depth3_wrap .recr__s1_depth3 li img {
  width: auto !important;
  height: auto !important;
}

/**************************************** recruit 끝*/
/**************************************** contact 시작*/
.cont__sec1 {
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cont__s1_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 40px;
}

.cont__s1_contents_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.cont__s1_contents_container .cont__s1_contents_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}
.cont__s1_contents_container .cont__s1_contents_wrap .title_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.cont__s1_contents_container .cont__s1_contents_wrap .title_wrap .title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  font-size: 1.125rem;
  font-weight: 700;
}
.cont__s1_contents_container .cont__s1_contents_wrap .title_wrap .title::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #111;
  position: absolute;
  left: 0;
  bottom: -2px;
}
.cont__s1_contents_container .cont__s1_contents_wrap .title_wrap .subtitle {
  font-size: 0.9375rem;
  font-weight: 500;
}
.cont__s1_contents_container .cont__s1_contents_wrap .info_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}
.cont__s1_contents_container .cont__s1_contents_wrap .info_container .info_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
}
.cont__s1_contents_container .cont__s1_contents_wrap .info_container .info_wrap li {
  font-size: 0.9375rem;
  font-weight: 500;
}
.cont__s1_contents_container .cont__s1_contents_wrap .info_container .date_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
}
.cont__s1_contents_container .cont__s1_contents_wrap .info_container .date_wrap li {
  font-size: 0.9375rem;
  font-weight: 500;
}

/**************************************** contact 끝*/
@media screen and (max-width: 1240px) {
  /**************************************** recruit res1240 시작*/
  .recr__s1_contents_container {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
  .recr__s1_contents_container .recr__s1_depth_container_style {
    padding-top: 30px;
  }
  /**************************************** recruit res1240 끝*/
}
@media screen and (max-width: 1024px) {
  /**************************************** contact res1024 시작*/
  .cont__s1_container {
    row-gap: 30px;
  }
  .cont__s1_contents_container {
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    row-gap: 50px;
  }
  /**************************************** contact res1024 끝*/
  /**************************************** recruit res1024 시작*/
  .recr__s1_contents_container {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
  .recr__s1_contents_container .recr__s1_depth1_container .recr__s1_depth1--pc {
    row-gap: 20px;
  }
  .recr__s1_contents_container .recr__s1_depth2_container .recr__s1_depth2 {
    row-gap: 30px;
  }
  .recr__s1_contents_container .recr__s1_depth3_container .recr__s1_depth3_wrap .recr__s1_depth3 {
    row-gap: 30px;
  }
  /**************************************** recruit res1024 끝*/
}
@media screen and (max-width: 768px) {
  /**************************************** contact res768 시작*/
  .cont__s1_contents_container {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .cont__s1_contents_container .cont__s1_contents_wrap {
    row-gap: 10px;
  }
  /**************************************** contact res768 끝*/
  /**************************************** recruit res768 시작*/
  .recr__s1_container {
    row-gap: 0;
  }
  .recr__s1_contents_container {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .recr__s1_contents_container .recr__s1_depth_container_style {
    min-height: auto;
    padding-top: 0;
    border-right: 0 !important;
  }
  .recr__s1_contents_container .recr__s1_depth1_container {
    padding-right: 0;
  }
  .recr__s1_contents_container .recr__s1_depth1_container .recr__s1_depth1--pc {
    display: none;
  }
  .recr__s1_contents_container .recr__s1_depth1_container .recr__s1_depth1--mo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 0;
  }
  .recr__s1_contents_container .recr__s1_depth1_container .recr__s1_depth1--mo select {
    height: 55px;
  }
  .recr__s1_contents_container .recr__s1_depth2_container {
    padding-right: 0;
  }
  .recr__s1_contents_container .recr__s1_depth2_container.recr__s1_depth_container_style {
    padding-bottom: 30px;
    border-bottom: 1px solid #000;
  }
  .recr__s1_contents_container .recr__s1_depth2_container .recr__s1_depth2 {
    row-gap: 20px;
  }
  .recr__s1_contents_container .recr__s1_depth2_container .recr__s1_depth2 li .title {
    font-size: 1.0625rem;
  }
  .recr__s1_contents_container .recr__s1_depth3_container .recr__s1_depth3_wrap .recr__s1_depth3 {
    row-gap: 20px;
  }
  .recr__s1_contents_container .recr__s1_depth3_container .recr__s1_depth3_wrap .recr__s1_depth3 li {
    row-gap: 10px;
  }
  .recr__s1_contents_container .recr__s1_depth3_container .recr__s1_depth3_wrap .recr__s1_depth3 li table {
    width: 100% !important;
  }
  /**************************************** recruit res768 끝*/
}/*# sourceMappingURL=sub06.css.map */