#cartDelBtn {width: 185px; height: 50px; font-size: 1.0625em; margin-left: auto;}

#order .order_section:not(:last-child) {margin-bottom: 80px;}
#order .order_section.half_section {display: flex; justify-content: space-between;}
#order .order_section.half_section .half {width: 50%; max-width: calc((100% - 75px)/2);}
.order_title {font-size: 1.625em; font-weight: 700; margin-bottom: 24px;}

#order .form_label_ani label, #order .form_label_ani input {font-size: 0.9375em;}
#order .form_label_ani label.label_float {font-size: 0.8125em;}
#order .form_wrap > li.with_btn .form_label_ani {width: calc(100% - 100px - 3px);}
#order .form_wrap > li.with_btn button {width: 100px; font-size: 0.9375em; border: 0; background: #f6f6f6;}
#order .form_wrap > li:not(:last-child) {margin-bottom: 10px;}
#order .orderer_same_chk {width: fit-content; margin: -48px 0 24px auto;}
#order .orderer_same_chk label {font-size: 0.875em;}

#order .agree_chk_wrap {font-size: 0.9375em;}
#order .agree_chk_wrap li {padding: 15px 0; border-bottom: 1px solid #e6e6e6; position: relative;}
#order .agree_chk_wrap li:first-child {padding-top: 0;}
#order .agree_chk_wrap li .agree_pop_btn {position: absolute; right: 30px; top: 50%; transform: translateY(-50%); color: #aaa; text-decoration: underline; text-underline-offset: 3px; cursor: pointer; font-size: 0.875em;}
#order .popup.find_popup {min-width: 1000px;}
#order .popup.find_popup .find_txt .sm {max-height: calc(100vh - 130px - 78px - 70px); overflow-y: scroll; text-align: left;}
#order .popup.find_popup .find_txt .sm h2 {font-size: 1.05em; margin-bottom: 5px;}
#order .popup.find_popup .find_txt .sm h2:not(:first-child) {margin-top: 30px;}
#order .popup.find_popup .find_txt .sm a {display: inline-block;}
#order .popup.find_popup .find_txt .sm::-webkit-scrollbar{width: 4px;}
#order .popup.find_popup .find_txt .sm::-webkit-scrollbar-track {background-color:#fff;}
#order .popup.find_popup .find_txt .sm::-webkit-scrollbar-thumb {background-color:#e6e6e6;border-radius: 10px;}

#order .payment_wrap {display: flex; align-items: stretch; column-gap: 10px; font-size: 0.9375em;}
#order .payment_type {width: 235px;}
#order .payment_type li:not(:last-child) {margin-bottom: 10px;}
#order .payment_type li input {display: none;}
#order .payment_type li input + label {border: 1px solid #e6e6e6; color: rgba(17,17,17,0.75); display: flex; align-items: center; padding-left: 30px; column-gap: 12px; cursor: pointer; height: 65px;}
#order .payment_type li input:checked + label {border: 1px solid #111; color: #111;}
#order .payment_cont {width: calc(100% - 235px - 10px); border: 1px solid #e6e6e6; padding: 20px 50px; display: flex; align-items: center;}
#order .payment_info {width: 100%;}
#order .payment_info .form_label_ani.just_input {max-width: 630px;}
#order .payment_info .with_radio {margin-top: 25px;}
#order .payment_info .with_radio .radio_wrap {flex-wrap: wrap;display: flex; align-items: center; column-gap: 50px;}
#order .payment_info .with_radio .form_label_ani {align-items: flex-start;}
#order .payment_info .with_radio .radio_wrap label {position: static; transform: none !important; color: #111;}
#order .payment_info .pay_depth2 {width: 100%; margin-top: 15px; display: none; font-size: 0.9em;}
#order .payment_info .pay_depth2.chk_tax {margin-top: 0;}
#order .payment_info .pay_depth3 {margin-top: 15px; padding-left: 30px; font-size: 0.9375em;}
#order .payment_info .pay_depth3 > li {display: flex; align-items: baseline;}
#order .payment_info .pay_depth3 > li:not(:last-child) {margin-bottom: 10px;}
#order .payment_info .pay_depth3 .lt {width: 120px; color: #aaa;}
#order .payment_info .pay_depth3 .rt {width: calc(100% - 120px);}
#order .payment_info .pay_depth3 .rt input {width: 300px; border-bottom: 1px solid #e6e6e6; height: 32px; max-width: 100%; padding-right: 0;}
#order .payment_info .pay_depth3 .rt input[type="file"] + p {font-size: 0.75em; margin-top: 5px;}
#order .payment_info select,
#order .payment_info input {width: 480px; max-width: 100%; height: 45px; border-bottom: 1px solid #e6e6e6;}

#orderEnd .order_end_table {display: flex; flex-wrap: wrap; row-gap: 20px; font-size: 0.9375em; column-gap: 75px; padding-top: 30px;}
#orderEnd .order_end_table li {width: 100%; display: flex;}
#orderEnd .order_end_table li > div {padding-bottom: 17px; word-break: break-word;}
#orderEnd .order_end_table li.half {width: calc((100% - 75px)/2);}
#orderEnd .order_end_table li.half:nth-child(2n) {border-right: 0;}
#orderEnd .order_end_table li .lt {width: 120px;}
#orderEnd .order_end_table li .rt {width: calc(100% - 120px); border-bottom: 1px solid #e6e6e6;}


@media screen and (max-width: 1420px) {
  #order .order_section.half_section .half {max-width: calc((100% - 50px)/2);}
  .form_wrap.with_title .form_label_ani .form_title {width: 100px;}
  .form_wrap.with_title .form_label_ani fieldset {width: calc(100% - 100px);}
  #order .payment_info .form_wrap.with_title .form_label_ani .form_title {width: 120px;}
  #order .payment_info .form_wrap.with_title .form_label_ani fieldset {width: calc(100% - 120px);}
  #order .payment_cont {padding: 20px 30px;}
  #order .payment_info select, #order .payment_info input {width: 100%;}
  #order .payment_info .with_radio .radio_wrap {column-gap: 30px;}
  #order .payment_info .pay_depth3 .lt {width: 70px;}
  #order .payment_info .pay_depth3 .rt {width: calc(100% - 70px);}
  #order .payment_info .pay_depth3 .rt input {width: 100%;}

  #orderEnd .order_end_table {column-gap: 30px;}
  #orderEnd .order_end_table li.half {width: calc((100% - 50px)/2);}
  #orderEnd .order_end_table li .lt {width: 100px;}
  #orderEnd .order_end_table li .rt {width: calc(100% - 100px);}
}

@media screen and (max-width: 1024px) {
  #cartDelBtn {width: 135px; height: 45px; font-size: 1em;}
  #order .order_section:not(:last-child) {margin-bottom: 70px;}
  #order .order_section.half_section {flex-wrap: wrap; row-gap: 70px;}
  #order .order_section.half_section .half {width: 100%; max-width: none;}
  .order_title {font-size: 1.4em;}
  #order .orderer_same_chk {margin: -45px 0 24px auto;}
  
  #order .payment_wrap {flex-direction: column; row-gap: 10px;}
  #order .payment_type {width: 100%; display: flex; column-gap: 10px;}
  #order .payment_type li {width: calc((100% - 20px)/3);}
  #order .payment_type li input + label {height: 60px; justify-content: center; padding-left: 0;}
  #order .payment_type li:not(:last-child) {margin: 0;}
  #order .payment_type li input + label img {width: 23px;}
  #order .payment_cont {width: 100%; padding: 20px 30px;}
  #order .payment_info .with_radio .radio_wrap {column-gap: 30px; width: 100%;}
  #order .payment_info .with_radio .pay_depth2 .radio_wrap {column-gap: 30px;}
  #order .payment_info .pay_depth2 {font-size: 1em;}
  #order .payment_info .pay_depth3 {padding-left: 26px;}
  #order .payment_info select {width: 100%; max-width: 100%; height: 40px; background-size: 21px;}
  #order .payment_info select, #order .payment_info input {height: 40px;}
  #order .payment_info .pay_depth3 .lt {width: 80px;}
  #order .payment_info .pay_depth3 .rt {width: calc(100% - 80px);}

  #order .popup.find_popup {min-width: 700px;}

  #orderEnd .order_end_table li.half {width: 100%;}
}

@media screen and (max-width: 768px) {
  #cartDelBtn {width: 100px; height: 40px;}

  .form_wrap.with_title .form_label_ani .form_title {width: 80px;}
  .form_wrap.with_title .form_label_ani fieldset {width: calc(100% - 80px);}
  .order_title {font-size: 1.325em; margin-bottom: 15px;}

  #order .order_section:not(:last-child) {margin-bottom: 50px;}
  #order .order_section.half_section {flex-wrap: wrap; row-gap: 50px;}
  #order .order_section.half_section .half {width: 100%; max-width: none;}
  #order .orderer_same_chk {margin: -33px 0 15px auto;}

  #order .payment_type li input + label {height: 55px; flex-direction: column; row-gap: 6px;}
  #order .payment_type li input + label img {width: 18px; height: 15px;}
  #order .payment_cont {padding: 20px 20px;}
  #order .payment_info .form_wrap.with_title .form_label_ani .form_title {width: 90px; font-size: 1em;}
  #order .payment_info .form_wrap.with_title .form_label_ani fieldset {width: calc(100% - 90px);}
  #order .payment_info .with_radio {margin-top: 25px; row-gap: 15px;}
  #order .payment_info .with_radio .radio_wrap {column-gap: 20px; row-gap: 10px;}
  #order .payment_info .with_radio .radio_wrap .input_radio input + label {column-gap: 7px; height: auto;}
  #order .payment_info .with_radio .pay_depth2 .radio_wrap {column-gap: 20px;}
  #order .payment_info .pay_depth2 {margin-top: 0;}
  #order .payment_info .pay_depth3 {padding-left: 0;}
  #order .payment_info .pay_depth3 .lt {width: 60px;}
  #order .payment_info .pay_depth3 .rt {width: calc(100% - 60px);}
  #order .payment_info .pay_depth3 .rt input {width: 100%;}
  #order .payment_info select {height: 35px; background-size: 18px;}

  #order .form_wrap > li.with_btn .form_label_ani {width: calc(100% - 80px - 3px);}
  #order .form_wrap > li.with_btn button {width: 80px;}
  #order .form_label_ani label, 
  #order .form_label_ani input {height: 40px;}

  #order .agree_chk_wrap li {padding: 15px 0;}
  #order .agree_chk_wrap li .agree_pop_btn {position: static; margin: 3px 0 0 auto; width: fit-content; font-size: 12px; transform: none;}
  #order .popup.find_popup {min-width: calc(100% - 40px);}

  #orderEnd .order_end_table {padding-top: 20px; row-gap: 17px;}
  #orderEnd .order_end_table li .lt {width: 95px;}
  #orderEnd .order_end_table li .rt {width: calc(100% - 95px); padding-bottom: 15px;}
}

@media screen and (max-width: 540px) {
  #order .popup.find_popup .find_txt .sm {min-height: 320px; max-height: calc(100vh - 115px - 46px - 10vh);}

  #order .form_label_ani label, 
  #order .form_label_ani input {height: 35px;}

  #cartDelBtn {width: 70px; height: 30px; font-size: 12px;}

  #orderEnd .order_end_table li .lt {width: 85px;}
  #orderEnd .order_end_table li .rt {width: calc(100% - 85px);}
}