/* CONTACT */
.curtain {transition: transform 1s ease, opacity 1s ease;}
.curtain.actvie {transition: transform 1s ease, opacity 1s ease;}
.page_contact .contact_img {display: flex; column-gap: 40px; margin-bottom: 80px; }
.page_contact .contact_img li {width: calc((100% - 80px)/3); position: relative; overflow: hidden; height: 0; padding-bottom: 41%;}
.page_contact .contact_img li img {position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;}
.page_contact .contact_cont {display: flex; column-gap: 55px;}
.page_contact .contact_cont .cont_lt {width: calc(100% - 650px - 55px); display: flex; flex-direction: column; justify-content: space-between;}
.page_contact .contact_cont .cont_lt .top {margin-bottom: 30px;}
.page_contact .contact_cont .cont_lt .top > p.address {font-size: 0.8125em; font-weight: 500; line-height: 150%; letter-spacing: -0.03em; margin: 15px 0 30px;}
.page_contact .contact_cont .cont_lt .top .desc > p {font-size: 0.9375em; line-height: 150%; letter-spacing: -0.03em; word-break: keep-all;}
.page_contact .contact_cont .cont_lt .top .desc > p:not(:last-child) {margin-bottom: 20px;}
.page_contact .contact_cont .cont_lt .bt > ul {display: flex; flex-direction: column; row-gap: 20px; font-family: 'Pretendard';}
.page_contact .contact_cont .cont_lt .bt > ul.border_top {margin-top: 30px; padding-top: 30px;}
.page_contact .contact_cont .cont_lt .bt > ul > li {display: flex;}
.page_contact .contact_cont .cont_lt .bt > ul > li .lt {width: 100px; font-weight: bold;}
.page_contact .contact_cont .cont_lt .bt > ul > li .rt {width: calc(100% - 100px);}
.page_contact .contact_cont .cont_lt .bt > ul > li .rt a {width: fit-content;}
.page_contact .contact_cont .cont_lt .bt > ul > li .rt > ul.address_list {display: flex; flex-direction: column; row-gap: 7px;}
.page_contact .contact_cont .cont_lt .bt > ul > li .rt > ul.address_list > li {display: flex; align-items: center; flex-wrap: wrap; row-gap: 3px;}
.page_contact .contact_cont .cont_lt .bt > ul > li .rt > ul.address_list > li > div {display: flex;}
.page_contact .contact_cont .cont_lt .bt > ul > li .rt > ul.address_list > li > div > a {width: fit-content; text-decoration: underline; display: inline-block;}
.page_contact .contact_cont .cont_lt .bt > ul > li .rt > ul.address_list > li > div > a:not(:last-child) {margin-right: 7px;}
.page_contact .contact_cont .cont_lt .bt > ul > li .rt p {display: inline-block;}
.page_contact .contact_cont .cont_lt .bt > ul > li .rt p:not(:last-child) {display: inline-flex; align-items: center;}
.page_contact .contact_cont .cont_lt .bt > ul > li .rt p:not(:last-child)::after {content: ""; display: block; width: 1px; height: 12px; margin: 0 15px; background: #e6e6e6;}
.page_contact .contact_cont .cont_lt .bt > ul > li .rt span {opacity: 0.75; margin-right: 10px;}
.page_contact .contact_cont .cont_rt {width: 650px; height: 500px; background: #f8f8f8;}
.page_contact .contact_cont .cont_rt #contactMap {width: 100%; height: 100%;}
.page_contact .contact_cont .cont_rt #contactMap iframe {width: 100%; height: 100%;}

.page_faq .center_sub_title {margin-bottom: 50px;}
.page_faq .faq_tab {display: flex; justify-content: center; column-gap: 5px; margin-bottom: 15px;}
.page_faq .faq_tab li {width: 100px; height: 45px; font-size: 0.9375em; position: relative; display: flex; align-items: center; justify-content: center; cursor: pointer;}
.page_faq .faq_tab li.active {font-weight: bold;}
.page_faq .faq_cont {border-top: 1px solid #111;}
.page_faq .faq_cont > li {font-size: 0.9375em;}
.page_faq .faq_cont > li .badge {width: 30px; height: 30px; font-size: 1.0625em; font-weight: 500; border-radius: 50%; display: flex; align-items: center; justify-content: center;}
.page_faq .faq_cont > li .q_row {padding: 20px 50px 20px 30px; display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid #e6e6e6; cursor: pointer;}
.page_faq .faq_cont > li .q_row .q_lt {width: calc(100% - 24px - 30px); display: flex; align-items: baseline; column-gap: 10px;}
.page_faq .faq_cont > li .q_row .q_lt .badge {background: #111; color: #fff;}
.page_faq .faq_cont > li .q_row .q_lt .title {line-height: 150%; letter-spacing: -0.03em;}
.page_faq .faq_cont > li .q_row.open .title {font-weight: 700;}
.page_faq .faq_cont > li .a_row {padding: 20px 20px 30px 50px; display: flex; align-items: baseline; column-gap: 10px; display: none; border-bottom: 1px solid #e6e6e6;}
.page_faq .faq_cont > li .a_row .badge {background: #f6f6f6; color: #111;}
.page_faq .faq_cont > li .a_row .txt {width: calc(100% - 24px - 10px); line-height: 150%; letter-spacing: -0.03em;}
.page_faq .inquiry_bt {display: flex; align-items: center; column-gap: 30px; justify-content: flex-end; margin-top: 30px;}
.page_faq .inquiry_bt > span {font-size: 0.9375em;}

.page_inquiry .inquiry_form .form_label_ani textarea {height: 250px;}
.page_inquiry .inquiry_form {max-width: 500px; font-size: 0.9375em; padding-top: 20px; border-top: 1px solid #111; margin: 0 auto;}
.page_inquiry .inquiry_form ul li {display: flex; align-items: center; flex-wrap: wrap;}
.page_inquiry .inquiry_form ul li:not(:last-child) {margin-bottom: 10px;}
.page_inquiry .inquiry_form ul li .form_title {width: 95px;}
.page_inquiry .inquiry_form ul li .form_input {width: calc(100% - 95px);}
.page_inquiry .inquiry_form ul li .form_input .with_btn {display: flex; align-items: center; justify-content: space-between;}
.page_inquiry .inquiry_form ul li .form_input .with_btn .form_label_ani {width: 100%;}
.page_inquiry .inquiry_form ul li .form_input p.grey_info {font-size: 0.6875rem; line-height: 150%; color: #aaa;}
.page_inquiry .inquiryBtn {margin: 50px auto 0;}

.page_inquiry .inquiry_form ul li .form_input .file_container {display: flex; align-items: center; column-gap: 3px;}
.page_inquiry .inquiry_form ul li .form_input .file_input_list {
  width: 100%;
  max-width: calc(100% - 103px);
  height: 45px;
  border-bottom: 1px solid #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px;
}
.page_inquiry .inquiry_form ul li .form_input .file_input_list > li {column-gap: 5px;}
.page_inquiry .inquiry_form ul li .form_input .file_input_list > li:not(:last-child) {margin: 0;}
.page_inquiry .inquiry_form ul li .form_input .file_input_list .file_list button img {width: 17px; opacity: 0.3;}
.page_inquiry .inquiry_form ul li .form_input .file_input_wrap {display: flex; align-items: center;}
.page_inquiry .inquiry_form ul li .form_input .file_input_wrap input {position: absolute; width: 1px; height: 1px; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0;}
.page_inquiry .inquiry_form ul li .form_input .file_input_wrap label {width: 100px; height: 45px; background: #f6f6f6; border: 1px solid #f6f6f6; box-sizing: border-box; display: flex; align-items: center; justify-content: center; cursor: pointer; transition: border .2s; position: static !important; transform: none !important; font-size: inherit;}
.page_inquiry .inquiry_form ul li .form_input .file_input_wrap label:hover {border-color: #e6e6e6;}


@media screen and (max-width: 1500px) {
  .page_contact .contact_cont .cont_lt .top {margin-bottom: 100px;}
  .page_contact .contact_cont .cont_rt {margin-top: 80px;}
  .page_contact .contact_cont .cont_lt .top .desc > p br {display: none;}
  .page_contact .contact_cont .cont_lt .bt > ul > li .rt p {width: 100%;}
  .page_contact .contact_cont .cont_lt .bt > ul > li .rt p:not(:last-child)::after {display: none;}
}

@media screen and (max-width: 1420px) {
  .page_contact .contact_cont {column-gap: 5%;}
  .page_contact .contact_cont .cont_lt {width: calc(100% - 50% - 5%);}
  .page_contact .contact_cont .cont_rt {width: 50%;}
}

@media screen and (max-width: 1240px) {
  .page_contact .contact_img {column-gap: 20px; margin-bottom: 10%;}
  .page_contact .contact_img li {width: calc((100% - 40px)/3);}
  .page_contact .contact_cont {flex-wrap: wrap; row-gap: 30px;}
  .page_contact .contact_cont .cont_lt {width: 100%;}
  .page_contact .contact_cont .cont_rt {width: 100%;}
  .page_contact .contact_cont .cont_lt .bt > ul > li .rt p {width: auto;}
  .page_contact .contact_cont .cont_lt .bt > ul > li .rt p:not(:last-child)::after {display: block;}
}

@media screen and (max-width: 1024px) {
  .page_contact .contact_cont .cont_rt {height: 400px;}

  .page_faq .center_sub_title {margin-bottom: 40px;}
  .page_faq .faq_tab {margin: 0 auto 10px; row-gap: 5px;}
  .page_faq .faq_tab li {max-width: calc((100% - 25px)/6);}
  .page_faq .faq_cont > li .q_row {padding: 20px;}
  .page_faq .faq_cont > li .a_row {padding: 20px 20px 25px 40px;}
  .page_faq .inquiry_bt {column-gap: 25px;}
}

@media screen and (max-width: 768px) {
  .page_contact .contact_img {column-gap: 6px; margin-bottom: 13%;}
  .page_contact .contact_img li {width: calc((100% - 12px)/3);}
  .page_contact .contact_cont .cont_lt .top img {width: 190px;}
  .page_contact .contact_cont {row-gap: 25px;}
  .page_contact .contact_cont .cont_rt {height: 0; padding-bottom: 56.25%;}
  .page_contact .contact_cont .cont_lt .top {margin-bottom: 25px;}
  .page_contact .contact_cont .cont_lt .top > p.address {margin: 15px 0 25px;}
  .page_contact .contact_cont .cont_lt .top .desc > p:not(:last-child) {margin-bottom: 15px;}
  .page_contact .contact_cont .cont_lt .top {margin-bottom: 60px;}
  .page_contact .contact_cont .cont_lt .bt > ul {row-gap: 15px;}
  .page_contact .contact_cont .cont_lt .bt > ul.border_top {margin-top: 25px; padding-top: 25px;}
  .page_contact .contact_cont .cont_rt {margin-top: 40px;}
  .page_contact .contact_cont .cont_lt .bt > ul > li .lt {width: 80px;}
  .page_contact .contact_cont .cont_lt .bt > ul > li .rt {width: calc(100% - 80px);}
  .page_contact .contact_cont .cont_lt .bt > ul > li .rt p:not(:last-child)::after {margin: 0 10px;}

  .page_faq .center_sub_title {margin-bottom: 30px;}
  .page_faq .faq_tab {display: flex; flex-wrap: wrap;}
  .page_faq .faq_tab li {width: 150px; max-width: calc((100% - 10px)/3); height: 36px;}
  .page_faq .faq_cont > li .q_row .q_lt {width: calc(100% - 18px - 20px);}
  .page_faq .faq_cont > li .a_row .txt {width: calc(100% - 18px - 10px);}
  .page_faq .faq_cont > li .q_row {padding: 15px 10px;}
  .page_faq .faq_cont > li .a_row {padding: 15px 15px 20px 20px;}
  .page_faq .faq_cont > li .badge {width: 25px; height: 25px; font-size: 1em;}
  .page_faq .faq_cont > li .q_row .q_arrow img {width: 18px;}
  .page_faq .inquiry_bt {column-gap: 20px; margin-top: 20px;}

  .page_inquiry .inquiry_form .form_label_ani textarea {height: 150px;}
  .page_inquiry .inquiry_form ul li .form_title {width: 80px;}
  .page_inquiry .inquiry_form ul li .form_input {width: calc(100% - 80px);}
  .page_inquiry .inquiry_form ul li .form_input .file_container {align-items: flex-end;}
  .page_inquiry .inquiry_form ul li .form_input .file_input_wrap label {width: 80px; height: 42px;}
  .page_inquiry .inquiry_form ul li .form_input .file_input_list {max-width: calc(100% - 83px); flex-wrap: wrap; height: auto; row-gap: 5px; min-height: 42px; padding-bottom: 5px;}
  .page_inquiry .inquiry_form ul li .form_input .file_input_list .file_list button img {width: 15px;}
  .page_inquiry .inquiryBtn {margin: 35px auto 0;}
}

@media screen and (max-width: 540px) {
  .page_inquiry .inquiry_form ul li .form_title {width: 70px;}
  .page_inquiry .inquiry_form ul li .form_input {width: calc(100% - 70px);}
  .page_inquiry .inquiry_form ul li .form_input .with_btn .fileBtn {width: 70px; height: 40px;}

  .page_inquiry .inquiry_form ul li .form_input .file_input_wrap label {width: 70px; height: 40px;}
  .page_inquiry .inquiry_form ul li .form_input .file_input_list {max-width: calc(100% - 73px); min-height: 40px;}

  .page_faq .faq_tab li {height: 30px;}

  .page_contact .contact_cont .cont_lt .top {margin-bottom: 40px;}
  .page_contact .contact_cont .cont_lt .bt > ul {row-gap: 12px;}
  .page_contact .contact_cont .cont_lt .bt > ul.border_top {margin-top: 20px; padding-top: 20px;}
  .page_contact .contact_cont .cont_rt {margin-top: 20px;}
  .page_contact .contact_cont .cont_lt .bt > ul > li .lt {width: 70px;}
  .page_contact .contact_cont .cont_lt .bt > ul > li .rt {width: calc(100% - 70px);}
  .page_contact .contact_cont .cont_lt .bt > ul > li .rt > ul.address_list p {margin-right: 10px;}
  .page_contact .contact_cont .cont_lt .bt > ul > li .rt > ul.address_list p:not(:last-child)::after {display: none;}
}